.category {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    text-align: left;
}
.category:hover {
    text-decoration: underline;
}
.filter-container {
    display: flex;
}
.filter-dropdown {
    position: relative;
    margin-right: 20px;
}
.filter-button {
    background-color: transparent; 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex; 
    align-items: center; 
}
.filter-button .arrow {
    margin-left: 5px; 
}
.filter-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 350px;
}
.filter-options label {
    display: block;
    margin-bottom: 5px;
}
.filter-dropdown:hover .filter-options {
    display: block;
}
.footer{
    background-color: #ff671d;
    color: #fff;
    text-align: center;
    font: italic;
}
.header {
    background-color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}.custom-header {
    background-color: #fff;
}
.custom-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}
.custom-header .navbar-brand img {
    height: 40px;
}
.icon-weight {
    height: 10;
}
.custom-header .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    
} 
.search-form {
    width: 500px; 
    max-width: 600px; 
    margin: 10px auto;
    height: 40px;
}
.search-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ff671d;
    font-size: 16px;
    color: #333;
}
.search-input::placeholder {
    color: #999999a1;
}
.search-input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    
}
.category-menu {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    
}
.category-menu .container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.category-menu a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: 500;
}
.category-menu a:hover {
    text-decoration: underline;
}
.menu {
    display: flex;
    align-items: center;
}
.navbar-nav { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-nav .nav-item { 
    margin-left: 10px;
}
@media (max-width: 768px) {
    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: block; 
    }

    .navbar-nav {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .navbar-nav .nav-item {
        margin: 5px 0;
    }
}
/**/
.filter-section {
    padding: 20px;
    border-right: 1px solid #ddd;
}
#product-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
#product-list .col-lg-3 {
    flex: 0 0 25%; 
    max-width: 25%;
}
@media (max-width: 768px) {
    #product-list .col-lg-3 {
        flex: 0 0 50%; 
        max-width: 50%;
    }
}