.cart-add-btn{
    max-width: 100px;
    color: white;
    background-color: #ff671d;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
    line-height: normal;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    position: absolute;
    bottom: 10px;
    left: 30%;

}
.cart-add-btn:hover{
    background-color: #bd3f00;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}



@media (min-width: 768px) {
   
    .card-body {
        padding: 2rem;
    }

    .btn {
        padding: 0.75rem 1.5rem;
    }
}

/*panel css*/
.panel-box {
    text-decoration: none;
}

.box {
    background-color: #ff671d;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/*header cssleri*/

.custom-header {
    background-color: #fff;
}

.custom-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}a

.custom-header .navbar-brand img {
    height: 40px;
}

.icon-weight {
    height: 10;
}

.custom-header .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    
} 

.search-form {
    width: 500px; 
    max-width: 600px; 
    margin: 10px auto;
    height: 40px;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ff671d;
    font-size: 16px;
    color: #333;
}

.search-input::placeholder {
    color: #999999a1;
}

.search-input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    
}

.category-menu {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    
}

.category-menu .container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.category-menu a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: 500;
}

.category-menu a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    align-items: center;
}

.navbar-nav { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-nav .nav-item { 
    margin-left: 10px;
}

@media (max-width: 768px) {
    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: block; 
    }

    .navbar-nav {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .navbar-nav .nav-item {
        margin: 5px 0;
    }
}
/**/
.filter-section {
    padding: 20px;
    border-right: 1px solid #ddd;
}

#product-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
#product-list .col-lg-3 {
    flex: 0 0 25%; 
    max-width: 25%;
}

@media (max-width: 768px) {
    #product-list .col-lg-3 {
        flex: 0 0 50%; 
        max-width: 50%;
    }
}
/*sepet,kategori,anasayfa (burası ürünlerin görünüşünü tanımladığım yer) css*/
td{
    padding: 20px;
}
th{
    padding: 20px;
}
.img-fluid {
    width: 100%;
    height: auto;
}

.custom-card {
    width: 250px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.custom-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}



.brand-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

.brand-container .img-fluid {
    max-width: 150px; 
    height: auto;
}

@media (max-width: 768px) {
    .brand-container .img-fluid {
        max-width: 100px; 
    }
}


.brand-row {
    display: flex;
    justify-content: center; 
    width: 100%; 
}
.cargo{
    color: #ff671d;
}

/*kategori*/
.filter-container {
    display: flex;
}

.filter-dropdown {
    position: relative;
    margin-right: 20px;
}

.filter-button {
    background-color: transparent; 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    color: #333;
}

.filter-button .arrow {
    margin-left: 5px; 
    color: #333;
    
}

.filter-options {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 350px;
}

.filter-options label {
    display: block;
    margin-bottom: 5px;
}

.filter-dropdown:hover .filter-options {
    display: block;
    
}

.footer{
    background-color: #ff671d;
    color: #fff;
    text-align: center;
    font: italic;
}

.category {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    text-align: left;
}

.category:hover {
    text-decoration: underline;
}

/*ürün detay sayfası*/
.order_image{
    height: 80px;
    width: 80px;
}
.size {
    display: flex;
    flex-wrap: wrap;
}

.size button {
    margin: 5px;
    padding: 8px 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
}

.size button.stocks-none {
    background-color: #eee;
    color: #999;
    cursor: not-allowed;
}

/*login */
.social-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 100%;
    text-decoration: none;
    color: #333;
}

.social-login-btn img {
    margin-right: 8px;
    height: 20px;
}

/*satıcı panel css*/
.order_image {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.table-responsive {
    overflow-x: auto;
}
@media (max-width: 768px) {
    td, th {
        padding: 8px; 
        font-size: 0.9rem; 
    }

    .btn-sm {
        padding: 4px 8px; 
        font-size: 0.8rem; 
    }
}

.form-inline {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}

.form-inline select, .form-inline button {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .order-card h4 {
        width: 100%;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .order-card table {
        width: 100%;
    }

    .form-inline select, .form-inline button {
        width: 100%;
        margin-right: 0;
    }

    .card-header {
        flex-direction: column; 
        align-items: flex-start;
    }

}

/*sipariş detayı sayfası butonları*/
.custom-details-button {
    background-color: #ff671d; 
    color: white; 
    padding: 5px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.custom-details-button:hover {
    background-color: #c04000; 
    color: #ccc;
    border: none; 
    cursor: pointer;
    text-decoration: none; 
}
.timeline {
    position: relative;
    padding-left: 2rem;
    margin-left: 1rem;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 1.2rem;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 2px;
    background-color: #ddd;
}

.timeline-item {
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.timeline-item::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
}

.timeline-item.active::before {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.timeline-item.active .timeline-text {
    color: #4CAF50;
}

.timeline-text {
    display:block;
    padding-left: 1rem;
    text-align: left;
}
 /* admin sipariş detay */
 .table td {
    font-size: 14px;
}

.order_image {
    max-width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    .table td {
        font-size: 12px;
        padding: 3px;
    }

    .order_image {
        max-width: 80px;
    }
}

/* sipariş detaylar */
.table td {
    font-size: 14px;
}

.order_image {
    max-width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    .table td {
        font-size: 12px;
        padding: 3px;
    }

    .order_image {
        max-width: 80px;
    }
}

